<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#386774; clear:left; font-size:14px; max-width:400px;padding:25px;border-radius:5px;color:#FFF;margin:auto;}
	#mc_embed_signup .pitch {padding:10px;margin:0;font-size:18px;}
	#mc_embed_signup .mc-field-group .asterisk {top:40px;}
	#mc_embed_signup .button {background-color:#c60;}
	#mc_embed_signup div#mce-responses {width:100%; padding:0; margin:0;}
	#mc_embed_signup div.response {padding:0;}
	#mc_embed_signup #mce-success-response {color:#FFF;}
	#mc_embed_signup #mce-error-response {color:#FFF;}
</style>

<div id="mc_embed_signup">
	<p class="pitch">
		Was that helpful? Don't miss out on more helpful Ruby and Rails tips. Sign up for my newsletter!
	</p>
	<form action="//brendankemp.us8.list-manage.com/subscribe/post?u=4b81c068f42916fee2adf3ef9&amp;id=073f3955a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
	<div class="mc-field-group">
		<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
	</label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
	<div class="mc-field-group">
		<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
	</label>
		<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_4b81c068f42916fee2adf3ef9_073f3955a3" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {
window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';
}(jQuery));
var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->
